div{
    position: fixed;
    border: solid 2px black;
    width: 200px;
}
#p1{
    position: relative;
    font-family: Arial, sans-serif;
    color:red;
    /* border: solid rgb(192, 9, 39) 3px; */

}
#p2{
    position: absolute;
    top:0px;
    left:200px;
    border: solid rgb(119, 0, 255) 10px;
}